vertigo-persona-api/src/main/java/io/vertigo/persona/security/authorisation-config_1_0.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!-- Gestion des autorisations de vertigo-persona-->

<!ELEMENT authorisation-config ( (permission | role)* ) >

<!ELEMENT permission EMPTY>
<!ATTLIST permission id ID #IMPLIED 
 					 operation CDATA #IMPLIED 
					 filter CDATA #IMPLIED 
					 description CDATA #IMPLIED 
					 ref IDREF #IMPLIED >

<!ELEMENT role ( permission* ) >
<!ATTLIST role name CDATA #REQUIRED 
			   description CDATA #REQUIRED>
